.NotFoundPage {
    display: flex;
    align-items: center;
    justify-content: center;
    font: var(--font-l);
    height: 100vh;
}

.ComponentsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-direction: column;
}

.HomePageButton {
    background: var(--inverted-bg-color);
    padding: 10px;
    color: var(--inverted-secondary-color);
    border-radius: var(--radius-10);
}
