.NavBar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Links {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-direction: row;
}